.card.input {
    background-color: #5BC0DE;
}

.card.settings {
    background-color: #5CB85C;
}
.card input {
    text-align: center;
}

.card.creature.toDie {
    background-color: #0275D8;
}
.btn.add {
    background-color: #5BC0DE;
}