.card.back {
    background-color: #F0AD4E;
}
.card.back a, .card a:visited {
    color: white;
    text-decoration: none;
}

.card.back a:hover {
    color: #0275D8;
    font-size: 1.05em;
    text-shadow: 1px 0px 20px white;
    transition: 200ms ease-in;
}
.card.back a span {
    top: 0.20em;
    left: 0.2em;
}